:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --bgcolor: #222831;
  --divbgcolor: #393e46;
  --highlight: #00adb5;
  --owcolor: #eeeeee;

  --dark-grey: #374151;
  --off-white: #f3f4f6;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  color: var(--owcolor);
}

h1 {
  font-family: "Roboto", sans-serif;
  color: var(--highlight);
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.upper-fillet {
  border-top-left-radius: 1rem;

  border-top-right-radius: 1rem;
}

.all-fillet {
  border-radius: 1rem;
}

.all-fillet-small {
  border-radius: 0.75rem;
}

.lower-fillet {
  border-bottom-left-radius: 1rem;

  border-bottom-right-radius: 1rem;
}

/* note bg */

#note-2000 {
  background-color: #d691d0;
}

#note-500 {
  background-color: #b5bf9a;
}

#note-200 {
  background-color: #f3ba61;
}
#note-100 {
  background-color: #aaa3f3;
}

#note-50 {
  background-color: #7cc6c5;
}
#note-20 {
  background-color: #e3e093;
}
#note-10 {
  background-color: #d3b89b;
}
#note-5 {
  background-color: #f5db99;
}
#note-2 {
  background-color: #cfcfcf;
}
#note-1 {
  background-color: #cfcfcf;
}

/* note bg end */

.outer-container {
  margin: 1rem;
  width: 28rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--divbgcolor);
  border-style: solid;
  border-color: var(--highlight);
  text-align: center;
}

.outer-container .text-container p {
  width: 80%;
  margin: auto;
}

.outer-container .inner-container {
  display: flex;
  flex-direction: column;
}

.container-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.input-field {
  width: 80%;
  height: 1.5rem;

  border-style: none;

  padding: 0;

  text-align: center;

outline: none;


  background-color: var(--owcolor);
}

.btn-notechecker {
  padding: 0;
  border-style: solid;

  height: 2rem;
  width: 7rem;
  background-color: var(--divbgcolor);
  border-radius: 0.5rem;
  border-color: var(--highlight);
  border-width: 2px;

  color: var(--highlight);

  transition: all 0.5s ease;
}

.btn-notechecker:hover {


background-color:var(--highlight) ;

color: var(--divbgcolor);

transition: all 0.5s ease;

}

.change-to-return {
  font-weight: 700;

  /* color: var(--blue); */
  color: cyan;

  font-size: large;
  padding-left: 0.5rem;
}

.table-holder {
  text-align: center;
}

.table-holder table {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
  align-items: center;
  padding: 1rem;

  border-collapse: separate;
  border-spacing: 0.5rem 0.5rem;
}

.table-holder table tr {
  align-items: center;
}

.table-holder table tr th {
  height: 1.5rem;
  width: 8rem;
  font-size: 1rem;
}

.table-holder table tr td {
  height: 1.5rem;
  width: 8rem;

  border-radius: 0.5rem;
}

.note {
  color: black;
}


footer {
  /* background-color: var(--darkbl); */
      background-color: var(--greenb);


    
      position: absolute;
  

text-align: center;
margin-top: 10rem;
  border-radius: 0.8rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
    flex-direction: column;
  
    color: var(--bgcol);
  
    padding: 1rem;


    font-weight: bolder;
  }
  
  footer .footer-header {
    margin: 0.5rem;
  }
  
  footer ul {
    display: flex;
  
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  
    flex-direction: row;
  
    text-align: center;
  }
  
  footer ul li {
    display: inline;
  
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 2rem;
  }
  
  footer ul li a{
  color: var(--bgcol);
  }
  
  footer ul li a:hover{
    color: var(--highlight);
    }